*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #021f2e, #645b27);
  }

  .calculator
  {
    border: 1px solid #643636 ;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 90px;
    max-height: 440px;
    box-shadow:rgba(0, 0, 0, 0.459) 1px 1px 1px 2px;
  }

  .calculator button {
    cursor: pointer;
    font-size: 15px;
    outline: none;
    background-color: #1093d402;
    border-radius: 50%;
    border: 1px solid  rgba(223, 12, 12, 0.432);
  }


  .item-button
  {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 10px;

  }
  
  .calculator button:hover {
    background-color: rgba(255, 255, 255, 0.527);
    color: red;
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: #344a9200;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 60px;
    margin-right: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ad2626;
    border-radius: 20px;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 15px;
  }
  
  .output .current-operand {
    color: white;
    font-size: 18px;
  }
  #operation
  {
    color: #c9db20;
    border: 1px solid #2400c47c;
  }
  #equals
  {
    color: #152ae2;
    border: 1px solid #1eff297c;
  }